@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal overflow on all pages */
html, body { overflow-x: hidden; }

/* Leaflet z-index fix inside modals */
.leaflet-pane { z-index: 1; }
.leaflet-top, .leaflet-bottom { z-index: 2; }
